   .footer,
    .generic-footer {
        margin-bottom: 98px
    }
    
    @media (min-width:374px) {
        .footer,
        .generic-footer {
            margin-bottom: 78px
        }
    }
    
    @media (min-width:546px) {
        .footer,
        .generic-footer {
            margin-bottom: 56px
        }
    }
    
    @media (min-width:1055px) {
        .footer,
        .generic-footer {
            margin-bottom: 0
        }
    }
    
    .disclaimer {
        position: fixed;
        z-index: 9999999;
        bottom: 0;
        right: 0;
        border-top: 1px solid #ff5c62;
        text-align: center;
        font-size: 8px;
        font-weight: 400;
        background-color: #fff;
        padding: 5px 10px 5px 10px
    }
    
    .disclaimer a:hover {
        text-decoration: underline
    }
    
    @media (min-width:1052px) {
        .disclaimer {
            text-align: right;
            border-left: 1px solid red;
            border-top-left-radius: 10px
        }
    }
    
    @media (min-width:1920px) {
        .disclaimer {
            width: 60%
        }
    }
